<!DOCTYPE html>
<html>
<head>
	<title>潘瑶琼的Blog</title>
	<meta charset="UTF-8">
</head>
  <body style="width:100%;">
	<h1 style="text-align:center;">建设中...</h1>
	<h3 style="text-align:center;"><span id="second">3</span>秒后跳转到本人在简书的临时Blog地址</h3>
	<script>
		var second = document.getElementById('second');
		var init = 3;
		var intval = setInterval(function(){
			init = init - 1;
			if(init <= 0){
				location.href = 'http://www.jianshu.com/users/cbe0454b1d76/latest_articles';
			}
			second.innerHTML = init;
		}, 1000);
	</script>
  </body>
</html>
